* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    grid-column: 1;
    background-color: lightblue;
    padding: 40px;
    display: grid;
    /* needs more deets */
}

.header, .main-content {
    grid-column: 2;
}

.main-content {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 50px;
}

.project-section {
    grid-column: 1 / 3;
}

.project-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.announcement-section {
    grid-column: 3;
}

.announcement-content {
    display: grid;
}

.trending-section {
    grid-column: 3;
}

.trending-content {
    display: grid;
}