* {
    margin: 0;
    padding: 0;
}

li, .dashboard {
    font-weight: bold;
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    font-weight: bold;
    gap: 15px;
}

.dashboard {
    font-size: 1.2rem;
    gap: 5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: #1992d3;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header {
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
}

button {
    background-color: #1992d3;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    padding: 10px 25px;
    font-weight: bold;
}

.main-content {
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.project-section {
    grid-column: 1;
    grid-row: 1 / -1;
}

.project-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.announcement-section {
    grid-column: 2;
    grid-row: 1;
}

.announcement-content {
    display: grid;
    gap: 20px;
}

.trending-section {
    grid-column: 2;
    grid-row: 2;
}

.trending-content {
    display: grid;
    gap: 20px;
}