* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: lightblue;
    padding: 40px;
    display: grid;
/*
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

 .dashboard {
    grid-column: ???;
    grid-row: ???;
}

.menu-one {
    grid-column: ???;
    grid-row: ???;
}

.menu-two {
    grid-column: ???;
    grid-row: ???;
} */

.header, .main-content {
    grid-column: 2;
    grid-row: 1/ 4;
}

.main-content {
    background-color: lightgray;
}