* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
/*    grid-auto-rows: 200px; */
}

.sidebar {
    grid-column: 1;
    background-color: lightblue;
    padding: 40px;
    display: grid;
}
/*
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

 .dashboard {
    grid-column: ???;
    grid-row: ???;
}

.menu-one {
    grid-column: ???;
    grid-row: ???;
}

.menu-two {
    grid-column: ???;
    grid-row: ???;
} */

.header, .main-content {
    grid-column: 2;
}

.main-content {
    background-color: lightgray;
}

.project-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}