* {
    margin: 0;
    padding: 0;
}

li, .dashboard, .title, .subject-line, .notification-section > p, .profile > p {
    font-weight: bold;
}

li {
    list-style-type: none;
    margin-bottom: 15px;
    gap: 15px;
}

li, .dashboard, .topper, .profile, .user, .notification-section, .buttons {
    display: flex;
    align-items: center;
}

.topper, .profile, .user, .notification-section, .buttons {
    gap: 20px;
}

.dashboard {
    font-size: 1.2rem;
    gap: 5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: #1992d3;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header {
    grid-column: 2;
    grid-row: 1;
    padding: 30px 40px;
    display: grid;
    gap: 15px;
}

.space-bar {
    background-color: #e2e8f0;
    width: 600px;
    height: 30px;
    border-radius: 20px;
}

.notification-section, .buttons {
    margin-left: auto;
}

.name {
    font-size: 20px;
}

button {
    background-color: #1992d3;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    padding: 10px 25px;
    font-weight: bold;
}

.main-content {
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.project-title, .announcement-title, .trending-title {
    padding-bottom: 15px;
}

.project-section {
    grid-column: 1;
    grid-row: 1 / -1;
}

.project-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: #ffffff;
    width: 20rem;
    padding: 20px;
    border-radius: 5px;
    border-left: 8px solid #f0b429;
    min-height: 180px;
    position: relative;
}

.icon-wrapper {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.user-avatar {
    border-radius: 50%;
}

.announcement-section {
    grid-column: 2;
    grid-row: 1;
}

.line-one, .line-two {
    background-color: #e2e8f0;
    width: 200px;
    height: 2px;
}

.trending-section {
    grid-column: 2;
    grid-row: 2;
}

.announcement-content, .trending-content {
    display: grid;
    gap: 20px;
    background-color: #ffffff;
    width: 15rem;
    padding: 20px;
    border-radius: 5px;
}