* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 4;
}

.header, .main-content {
    grid-column: 2;
    grid-row: 1/ 4;
}